PORT = 3001

TYPEORM_CONNECTION = postgres
TYPEORM_URL = postgres://{username}:{password}@{host}:{port}/{database}
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = src/entity/**/*.ts
TYPEORM_MIGRATIONS = src/migration/**/*.ts
TYPEORM_SUBSCRIBERS = src/subscriber/**/*.ts
